:root {
  --blueBackground: #040541;
  --containersWhiteBackground: #FFFFF6;
  --textBlackFont: #121111;
  --containersBoxShadow: rgba(117, 155, 170, 0.25);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

